@import url(./main.css);

#search-box {
    min-width: 70px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 50px;
    
    input {
        width: 80dvw;
        max-width: 500px;
        height: 60px;
        padding: 10px;
        border: none;
        outline: none;
        font-size: 1rem;
        background-color: transparent;
        transition: .3s;
    }
    
    img {
        width: 30px;
        height: 30px;
        margin-left: 20px;
        cursor: pointer;
        background-color: transparent;
    }

    img:hover {
        opacity: .9;
    }

}

main {
    width: 100%;
    min-height: calc(100dvh - 340px);
    font-size: 1.3rem;
    display: grid;
    justify-content: center;
    color: var(--text);
    
    .container-main {
        margin: 10dvh 5dvw;
        width: 80dvw;
        max-width: 600px;

        article, .space {
            padding-top: 80px;

            .card-add {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 70%;
                    height: 150px;
                    cursor: pointer;
                    transition: .3s;
                }

                img:hover {
                    filter: contrast(90%);
                }
            }
        }

        #info {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 45px;
            font-size: .9rem;
            color: var(--primary);
            font-weight: bold;
            letter-spacing: .9px;
            cursor: default;

            #category {
                background-color: var(--secundary);
                padding: 5px 10px;
                border-radius: 10px;
                cursor: pointer;
            } 
            
            #category:hover {
                text-decoration: underline; 
            }
        }

        #summary {
            .box {
                background-color: var(--secundary);
                padding: 5px 50px 50px 50px;
                border-radius: 20px;
                
                h1 {
                    color: var(--primary-800);
                }

                ul {
                    list-style: none;
                }
                
                ul li a {
                    color: var(--primary-800);
                    text-decoration: none;
                    font-size: 1.4rem;
                }
            }
        }
    }
    
    h1 {
        font-size: 3rem;
        margin: 40px 0 20px 0;
        color: var(--primary);
        font-weight: 400;
    } /* First Title */

    p {
        font-size: 1.4rem;
    }

    img {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 0 3px #0001, 0 0 10px #0001;
        margin: 60px 0;
    }
}

footer {
    position: relative;
    width: 100%;
    min-height: 300px;
    padding: 20px;
    background-color: var(--footer);
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    code {
        position: absolute;
        bottom: 10px;
        right: 60px;
        color: #eee;
        font-size: .8rem;
        cursor: default;
    }
    
    .box {
        width: 130px;
        margin-top: 30px;
        color: #eee;
        letter-spacing: 1px;
        cursor: default;
        
        ul {
            margin-top: 20px;
            list-style: none;
            
            li {
                margin-top: 15px;
                cursor: pointer;
            }
        }
    }
}